<div class="dayslot">


    <div #modal class="modal" (mousedown)="onBackgroundClick($event)">
        <div class="modal-window">
            <div class="modal-content-wrapper">
                <div class="modal-header">
                    <span></span>
                    <h1>
                        Določite način rezervacije
                    </h1>
                    <span class="close-button" (click)="hideModal()">&times;</span>
                </div>
                <div class="modal-content">
                    <div>
                        <label for="ime">Kdo rezervira?</label>
                        <input
                            [(ngModel)]="reservedBy"
                            name="ime"
                            placeholder="Kdo rezervira?"
                            type="string"
                            class="modal-input"
                        />
                    </div>
                    
                    <div class="modal-buttons">
                        <div>
                            <button 
                                [ngClass]="reservationType == ReservationType.Temporary ? 'button' : 'button-invisible'" 
                                (click)="changeReservationType(ReservationType.Temporary)">
                                Začasno
                            </button>
                        </div>
                        <div>
                            <button 
                                [ngClass]="reservationType == ReservationType.Permanent ? 'button' : 'button-invisible'"
                                (click)="changeReservationType(ReservationType.Permanent)">
                                Stalno
                            </button>
                        </div>
                        
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="button" (click)="reserveTimeslots()">Rezerviraj izbrane termine</button>
                </div>
            </div>
        </div>
    </div>


    <h2>{{dayNameFromNumber(dayNumber)}}</h2>
    <div *ngIf="day" class="timeslot-container">
        <div *ngFor="let timeslot of day.timeslots">
            <app-timeslot-button 
                (unselectTimeslotEvent)="unselectTimeslot($event)" 
                (selectTimeslotEvent)="selectTimeslot($event)" 
                [timeslot]="timeslot"
                [livePresence]="livePresenceMap[timeslot.timeslotNo] || []"
                [reserver]="reservedBy"
                [dayNumber]="dayNumber">
            </app-timeslot-button>

        </div>
    </div>

    <div class="button-container">
        <button *ngIf="selectedTimeslotTypes() === 'unreserved'" class="button" (click)="showModal()">Rezerviraj izbrane termine</button>
        <button *ngIf="selectedTimeslotTypes() === 'temporary'" class="button" (click)="unreserveTimeslots()">Sprosti izbrane termine</button>
        <button *ngIf="selectedTimeslotTypes() === 'permanent'" class="button" (click)="unreserveTimeslots()">Sprosti izbrane termine</button>
        <button *ngIf="selectedTimeslotTypes() === null && selectedTimeslots.length !== 0" class="button-invisible" >Izberite termine enakega tipa</button>
        <button *ngIf="selectedTimeslots.length === 0" class="button-invisible">S klikom izberite termine</button>
    </div>
</div>
