.dayslot {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.timeslot-container {
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(14, 1fr);
}

.button-container {
    margin-top: 20px;
}

.button {
    width: 40%;
    height: 4em;
    color: var(--text-variant);
    border: 1px solid var(--primary-variant);
    background-color: var(--primary-variant);
    font-weight: bolder;
    font-family: 'Times', serif;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.button-invisible {
    width: 40%;
    height: 4em;
    color: var(--text-variant);
    border: 1px solid;
    border: 1px solid var(--primary-variant);
    background-color: transparent;
    font-weight: bolder;
    font-family: 'Times', serif;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .timeslot-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-auto-flow: column;
    }
}