.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-window {
    height: calc(100vh - 10rem);
    background-color: var(--for-modal);
    margin: 50px auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid var(--primary);
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
}

.modal-content-wrapper {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 7fr 2fr;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-content {
    display: grid;
    height: 100%;
    grid-template-rows: 2fr 1fr;
    align-items: center;
}

.modal-buttons {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    justify-self: center;
}

.modal-buttons > div > button{
    width: 100%;
}


label {
    font-size: larger;
    display: block;
    margin-bottom: 1em;
}

.modal-input {
    padding: 1rem;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.close-button {
    font-weight: bold;
    font-size: larger;
    align-self: self-start;
}

.close-button:hover {
    color: black;
    cursor: pointer;
}

.dayslot {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.timeslot-container {
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(15, 1fr);
}

.button-container {
    margin-top: 20px;
}

.button {
    width: 40%;
    height: 4em;
    color: var(--text-variant);
    border: 1px solid var(--primary-variant);
    background-color: var(--primary-variant);
    font-weight: bolder;
    font-family: 'Times', serif;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.button-invisible {
    width: 40%;
    height: 4em;
    color: var(--text-variant);
    border: 1px solid;
    border: 1px solid var(--primary-variant);
    background-color: transparent;
    font-weight: bolder;
    font-family: 'Times', serif;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.legenda {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: space-around;
    align-items: center;
    border: solid thin var(--text);
    border-radius: 10px;
    max-width: 400px;
    padding: 20px;
}

.legenda-title {
    font-size: larger;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
}

.legenda-item {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
}

.legenda-color {
    width: 20px;
    height: 20px;
    border: 1px solid var(--text);
    border-radius: 5px;
}

.legenda-and-buttons-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

@media screen and (min-width: 768px) {
    .timeslot-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-auto-flow: column;
    }

    .timeslot-container > div:last-child {
        grid-column: 1 / span 2;
        grid-row: 8 / span 2;
        width: 50%;
        justify-self: center;
    }
}