<div class="dayslot">


    <div #modal class="modal" (mousedown)="onBackgroundClick($event)">
        <div class="modal-window">
            <div class="modal-content-wrapper">
                <div class="modal-header">
                    <span></span>
                    <h1>
                        Določite način rezervacije
                    </h1>
                    <span class="close-button" (click)="hideModal()">&times;</span>
                </div>
                <div class="modal-content">
                    <div class="input-wrapper">
                        <label for="ime">Kdo rezervira?</label>
                        <input
                            [(ngModel)]="reservedBy"
                            name="ime"
                            placeholder="Kdo rezervira?"
                            type="string"
                            class="modal-input"
                        />
                    </div>
                    
                    <div class="modal-buttons">
                        <div>
                            <button 
                                class="button-left"
                                [ngClass]="reservationType == ReservationType.Temporary ? 'active' : 'not-active'" 
                                (click)="changeReservationType(ReservationType.Temporary)">
                                Začasno
                            </button>
                        </div>
                        <div>
                            <button
                                class="button-right"
                                [ngClass]="reservationType == ReservationType.Permanent ? 'active' : 'not-active'"
                                (click)="changeReservationType(ReservationType.Permanent)">
                                Stalno
                            </button>
                        </div>
                        
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="button" (click)="reserveTimeslots()">Rezerviraj</button>
                </div>
            </div>
        </div>
    </div>


    <h2>{{dayNameFromNumber(dayNumber)}}</h2>
    <div *ngIf="day" class="timeslot-container">
        <div *ngFor="let timeslot of day.timeslots">
            <app-timeslot-button 
                (unselectTimeslotEvent)="unselectTimeslot($event)" 
                (selectTimeslotEvent)="selectTimeslot($event)" 
                [timeslot]="timeslot"
                [livePresence]="livePresenceMap[timeslot.timeslotNo] || []"
                [reserver]="reservedBy"
                [dayNumber]="dayNumber">
            </app-timeslot-button>

        </div>
    </div>
    <div class="legenda-and-buttons-container">
        <div class="button-container">
            <button *ngIf="selectedTimeslotTypes() === 'unreserved'" class="button" (click)="showModal()">Rezerviraj</button>
            <button *ngIf="selectedTimeslotTypes() === 'temporary'" class="button" (click)="unreserveTimeslots()">Sprosti</button>
            <button *ngIf="selectedTimeslotTypes() === 'permanent'" class="button" (click)="unreserveTimeslots()">Sprosti</button>
            <button *ngIf="selectedTimeslotTypes() === null && selectedTimeslots.length !== 0" class="button-invisible" >Izberite termine enakega tipa</button>
            <button *ngIf="selectedTimeslots.length === 0" class="button-invisible">Izberite termine</button>
        </div>

        <div class="legenda">
            <div class="legenda-title">
                <span>Legenda:</span>
            </div>
            <div class="legenda-item">
                <div class="legenda-color" style="background-color: var(--primary-light);"></div>
                <span>Prosto</span>
            </div>
            <div class="legenda-item">
                <div class="legenda-color" style="background-color: var(--secondary-variant);"></div>
                <span>Začasno</span>
            </div>
            <div class="legenda-item">
                <div class="legenda-color" style="background-color: var(--secondary);"></div>
                <span>Stalno</span>
            </div>
        </div>
    </div>
    
</div>
