<button
  class="timeslot"
  [ngClass]="{
    'temporary': timeslot.reservationType === ReservationType.Temporary,
    'permanent': timeslot.reservationType === ReservationType.Permanent,
    'unreserved': timeslot.reservationType === ReservationType.Unreserved,
    'selected': isSelected,
    'live-present': livePresenceNames.length !== 0
  }"
  (click)="select()"
>
  <div class="timeslot-content">
    <div *ngIf="livePresenceNames.length !== 0" class="presence-banner">
      {{livePresenceNames.join(', ')}}
    </div>
    <div class="timeslot-time">
        {{ timeslot.start }} 
    </div>
    <div class="timeslot-reserved-by">
        {{ timeslot.reservedBy || '' }}
        
    </div>

  </div>
</button>
